*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 15rem;
    width: 20rem;
    background-size: cover;
    background-position: center center;
}

.container{
    position: relative;
    padding: 15px;
    width:  60vw;
    border: 1px solid black;
    margin: 0 auto;
}

.gallery-wrapper{
    overflow-x:auto;
}

.gallery{
    display: flex;
    flex-flow: row;
    gap: 15px;
}

/* .arrow-left, */
.arrow-right{
    position: absolute;
    right: 0;
    align-items: center;    
}