ul{
    list-style: none;
}

img{
    width: 20rem;
    height: 15rem;
}


.collection{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    border: 1px solid black;
    margin-top: 10rem;
    height: 20rem;
}
 

.movie-carousel__list{
    display: flex;
    position: relative;
    width: 70vw;
    overflow-x:auto;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
}

.arrow-slider{
    position: absolute;
    align-items: center;
}

.arrow-slider--left{
    left: 0;
}
.arrow-slider--right{
    right: 0;
}