ul{
    list-style: none;
}

img{
    width: 20rem;
    height: 15rem;
}


.collection{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    margin-top: 10rem;
    height: 20rem;
    
}
 


.movie-carousel{
    position: relative;
    width: 80vw;
    align-items: center;
    display: flex;
    
}
 

.movie-carousel__list{
    display: flex;
    overflow-x:auto;
    width: 70vw;
    gap: 1rem;
    margin: 0 auto;  
    overflow: hidden;
 
}


.movie-carousel__item:nth-child(1){
    margin-left: -2.3rem;
}



.arrow-slider{
    position: absolute;
    align-items: center;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
} 

.arrow-slider--left{
    left: 0;
}
.arrow-slider--right{
    right: 0;
}